body{
    margin: 0;
}
.frist-block {
    margin: 0;
    background-image: url(/imges/фон1.jpg);
    height: 115vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 0 100px;
}

.header-title{
    position: absolute;
    text-align: center;
}

.header-title p{
    margin: 0;
    margin-top: 40px;
    font-family: 'Lobster', cursive;
    color: #1daa42;
    font-size: 23px;
}

.header-title h1{
    font-size: 60px;
    margin: 0;
    color: rgb(127, 228, 90);
    margin-top: 220px;
    font-family: 'Comfortaa', cursive;
}

.second-block .tags li{
    list-style-type: none;
    display: inline;

}

.second-block .tags li a {
    text-decoration: none;
    color: azure;
}

.header-menu{
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.second-block {
    background-color: aqua;
}

.logotip {
    color: blueviolet;
    background-color: aqua;
    margin-left: 100px;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.logotip span {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #6921acc7;
}

.menu{
    background-color: gold;
    font-size: 20px;
}

.menu .tags {
    margin-right: 100px;
    margin-left: 290px;
    margin-top: 39px;
}


.tag a{
    padding: 39px 15px;
}

.tag a:hover{
    background-color: black;
    cursor: pointer;
}

.frist-main{
    margin:100px 0;
}


.home {
    display: flex;
    margin-left: -135px;
}

.pentagon {
    padding-right: 200px;
    padding-left:  100px;
}

.m-img {
    width: 315px;
    position: absolute;
}

.h-img {
    position: relative;
    width: 130px;
    left: 90px;
    top: 75px;
}

.pentagon .name-img {
    position: relative;
    left: 122px;
    top: 90px;
    font-size: 35px;
    text-decoration: none;
    color: crimson;
    font-family: 'Cormorant Garamond', serif;
}

.pen1 {
    padding-left: 0px;
}

.pentagon .img1 {
    top: 60px;
    left: 70px
}

.name-img:hover{
    color: deeppink;
    font-weight: 900;
}

.second-main{
    margin-top: 100px;
}


.our-title{
    margin-top: 300px;
    text-align: center;
    font-size: 55px;
    font-family: 'Cormorant Garamond', serif;
}

.our-servis{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.our-img {
    width: 300px;
    height: 275px;
}

.block-down{
    width: 300px;
    height: 230px;
    background-color: darkorange;
    margin-top: -26px;
    
}

.info {
    padding: 20px;
    text-align: center;
}

.info h2 {
    font-family: 'Oswald', sans-serif;
}

.info p {
    font-family: 'Lobster', cursive;
}

.arrow {
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    text-align: center;
    border-radius: 74%;
    margin-left: 130px
}

.arrow:hover{
    background-color: black;
    color: white;
}

.rigth {
    margin-top: 8px;
}

.third_main{
    margin-top: 100px;
}

.about_img img{
    width: 1263px;
}

.about_img{
    position: relative;
}

.about_title {
    position: absolute;
    top:100px;
    left: 18%;
    text-align: center;
    font-size: 20px;
    color: azure;
}

.about_title h1{
    font-family: 'Comfortaa', cursive
}

.about_title h3 {
    font-family: 'Oswald', sans-serif;
}

.desk{
    margin: 0 100px;
    position: absolute;
    top: 360px;
    text-align: center;
    font-size: 24px;
    font-family: 'Lobster', cursive;
    color: azure;
}


.coment{
    margin-top: -50px;
    background-color: rgb(254 206 47);
}

.coment h1 {
    text-align: center;
    font-size: 60px;
    padding-top: 95px;
    color: azure;
}

.comment_desk {
    display: flex;
}

.coment_imge {
    width: 300px;
}

.coment_imge img{
    width: 240px;
    border: 3px white solid;
    border-radius: 50%;
    height: 184px;
}

.coment_text1{
    margin-left: 70px;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
    color: white;
}

.coment_text1 span {
    float: right;
    font-family: 'Oswald', sans-serif;
    color: black;
}